{% extends 'base.html.twig' %}

{% block main %}

    <main>
        <article >
            <img class="article-img" src="{{asset('assets/images/BannièreAbeeso.png')}}" alt="">
            <div class="article-content">
                <h2 class="main-title">Lancement du site officiel !</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquam libero tenetur laborum laudantium tempora at vel eveniet non, officiis ipsa natus rem ipsam ducimus unde officia voluptatem! Tempore vero, eveniet voluptatum dolore laborum soluta deserunt. Distinctio esse sint ipsam dolorem voluptatum quia, deserunt atque laboriosam quis aperiam nesciunt enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, minima? Nostrum ab nesciunt quod nulla atque fugit, aperiam nemo possimus omnis sit voluptates officia temporibus eum tempora repudiandae voluptas doloribus fugiat recusandae quidem ad in deleniti. In quidem dicta odit debitis harum molestiae facilis, adipisci numquam! Tenetur consectetur ipsum consequuntur laboriosam consequatur aliquam sed laborum quo! Fuga, voluptate quaerat? Mollitia nulla odio ullam dolore at veritatis architecto labore beatae quasi quibusdam enim praesentium ratione neque pariatur deleniti id tempora quia sint facere quos, voluptatem quae odit quam? Qui, sapiente reiciendis. Ipsam corporis quidem recusandae beatae! Ipsum, consectetur. Quibusdam, beatae iste.</p>
            </div>
        </article>
        <div class="other-article">
            <div class="nav-article previous">
                <img src="{{asset('assets/images/BannièreZohls.png')}}" alt="">
                <button>⮘</button>
                <div>
                    <h2>Les Zohls</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, suscipit! Quae a quia molestias voluptate consequatur commodi exercitationem nesciunt nam?</p>
                </div>
            </div>
            <div class="nav-article next">
                <img src="{{asset('assets/images/BannièreArmadils.png')}}" alt="">
                <button>⮚</button>
                <div>
                    <h2>Les Armadils</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, suscipit! Quae a quia molestias voluptate consequatur commodi exercitationem nesciunt nam?</p>
                </div>
            </div>
        </div>
        <article class="shop-article">
            <img class="article-img" src="{{asset('assets/images/BannièreChtapods.png')}}" alt="">
            <div class="article-content">
                <h2 class="main-title">Solarité: Guide de jeu</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod aliquam libero tenetur laborum laudantium tempora at vel eveniet non, officiis ipsa natus rem ipsam ducimus unde officia voluptatem! Tempore vero, eveniet voluptatum dolore laborum soluta deserunt. Distinctio esse sint ipsam dolorem voluptatum quia, deserunt atque laboriosam quis aperiam nesciunt enim?</p>
                <button><i class="fa fa-shopping-cart"> - Acheter</i></button>
            </div>
        </article>
    </main>

{% endblock %}
